<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles1.css">
    <title>home</title>
</head>
<body>
    <h1>Task List</h1>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Date</th>
            <th>Remark</th>
            <th>Status</th>
        </tr>
        {% for task in usr %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.task }}</td>
            <td>{{ task.date }}</td>
            <td>{{ task.remark }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="../static/script.js"></script>
</body>
</html>