<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles1.css">
    <title>Home</title>
</head>
<body>
    <h1>Task List</h1>
    <div class="text-wrapper">
        <div class="menu">
        <form action="{{ url_for('add_task') }}" method="POST">
            <input type="text" name="task" placeholder="Task" required>
            <input type="date" name="date" required>
            <input type="text" name="remark" placeholder="Remark" required>
            <input type="checkbox" id="status" name="status" value="status">
            <label for="status"> Completed</label><br>
            <button type="submit">Add Task</button>
        </form>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Date</th>
                <th>Remark</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for task in usr %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.remark }}</td>
                <td>{{ task.status }}</td>
                <td><a href="{{ url_for('home', edit=task.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% if edit_task %}
        <h2>Edit Task</h2>
        <form action="{{ url_for('edit_task', task_id=edit_task.id) }}" method="POST">
            <input type="text" name="task" value="{{ edit_task.task }}" required>
            <input type="date" name="date" value="{{ edit_task.date.strftime('%Y-%m-%d') }}" required>
            <input type="text" name="remark" value="{{ edit_task.remark }}" required>
            <select name="status" required>
                <option value="Pending" {% if edit_task.status == 'Pending' %} selected {% endif %}>Pending</option>
                <option value="Completed" {% if edit_task.status == 'Completed' %} selected {% endif %}>Completed</option>
            </select>
            <button type="submit">Update Task</button>
            <a href="{{ url_for('home') }}">Cancel</a>
        </form>
        {% endif %} 
    </div>
    <a href="{{ url_for('logout') }}">Logout</a>
    <script src="../static/script.js"></script>
</body>
</html>