<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>TASK MANAGER</h1>

    <div class="forms">
        <!-- LOGIN FORM -->
        <div class="form-wrapper is-active">
            <button type="button" class="switcher switcher-login">
                Sign Up
                <span class="underline"></span>
            </button>
            <div class="container">
                <div class="login">
                    <label for="username">Username:</label>
                    <input type="text" id="username" placeholder="Enter Username">
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Enter Password">
                    <button class="submit">LOGIN</button>
                </div>
            </div>
        </div>

        <!-- SIGNUP FORM -->
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign In
                <span class="underline"></span>
            </button>
            <div class="container">
                <div class="login">
                    <label for="signup-email">E-mail</label>
                    <input id="signup-email" type="email" required>
                    <label for="signup-password">Password</label>
                    <input id="signup-password" type="password" required>
                    <label for="signup-password-confirm">Confirm password</label>
                    <input id="signup-password-confirm" type="password" required>
                    <button class="submit">CONTINUE</button>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
