<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Login</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>TASK MANAGER</h1>
    <div class="container">
        <div class="loginn">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter Username">
            
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter Password">
            
            <button>LOGIN</button>
        </div>
    </div>

</body>
</html>
